.private-chat-header-container {
    display: flex;
    flex-basis: 10%;
    border-bottom: 1px solid gray;
    align-items: center;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
}

.private-chat-header-left-section {
    flex-basis: 5%;
}

.private-chat-header-text {
    flex-basis: 90%;
}