.chatbox-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.chatbox-header {
    flex-basis: 10%;
    border-bottom: 1px solid gray;
}

.chatbox-body {
    flex-basis: 100%;
    border-bottom: 1px solid gray;
    background-color: #e5ffff;
}

.chatbox-footer-container {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
}