.chatbox-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 5px;
    /* border: 1px solid; */
    border-radius: 10px;
    box-shadow: 4px 1px 20px 0px #6f6666;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.chatbox-container-reduced {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: 5px;
    /* border: 1px solid; */
    border-radius: 10px;
    box-shadow: 4px 1px 20px 0px #6f6666;
    background-color: white;
}

.chatbox-header {
    display: flex;
    flex-basis: 10%;
    border-bottom: 1px solid gray;
    align-items: center;
    justify-content: center;
}

/* .chatbox-header-text {
    flex-grow: 1;
} */

.chatbox-body {
    flex-basis: 100%;
    overflow-y: auto;
    /* border-bottom: 1px solid gray; */
}

.chatbox-footer-container {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -2px -3px 20px 0px;
}