.chatbox-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 5px;
    border: 1px solid;
    border-radius: 10px;
}

.chatbox-header {
    flex-basis: 10%;
    border-bottom: 1px solid gray;
}

.chatbox-body {
    flex-basis: 100%;
    /* border-bottom: 1px solid gray; */
    background-color: #e5ffff;
}

.chatbox-footer-container {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -2px -3px 20px 0px;
}