.App {
  text-align: center;
  /* background-color: #b7e1e4; */
  height: 100vh;
  background: rgb(90,185,193);
  background: -moz-linear-gradient(339deg, rgba(90,185,193,1) 0%, rgba(183,225,228,1) 63%);
  background: -webkit-linear-gradient(339deg, rgba(90,185,193,1) 0%, rgba(183,225,228,1) 63%);
  background: linear-gradient(339deg, rgba(90,185,193,1) 0%, rgba(183,225,228,1) 63%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5ab9c1",endColorstr="#b7e1e4",GradientType=1);
  /* font-family: monospace; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
